{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section p-4 bg-white shadow-sm rounded">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-3">
                <legend class="border-bottom mb-4 pb-2">Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-outline-secondary ms-2" href="javascript:history.go(-1)">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
